.header {
    border: solid 1px rgba(158, 158, 158, 0.74);
    height: 150px;
    width:100%;
}

.headerLine {
    height: 65px;
    background-image: linear-gradient(90deg, rgba(0, 126, 255, 0.17), rgba(0, 126, 255, 0));

}

.leafPicture {
    width: 77%;
    height: 91%;
    padding-top: 5%;
    padding-left: 10%;
}

.logoPicture {
    height: 67%;
    width: 131.563px;
    position: relative;
    top: -21%;
    left: 8%;
}

.mongoShopLabel {color: rgba(0, 67, 255, 0.46);
    font-family: sans-serif;
    font-size: 261%;
    font-style: oblique;
    font-weight: 600;
    position: relative;
    top: -84%;
    left: 23%;
}

.productCatalogLabel {    color: rgb(97, 125, 189);
    font-family: sans-serif;
    font-size: 268%;
    font-style: oblique;
    font-weight: 600;
    position: relative;
    left: 30%;
    top: -94%;
}

.links {
    border: solid 1px rgba(158, 158, 158, 0.74);
    height: 53px;
    border-top-width: 0px;
    width:100%;;
}

.searchPicture {
    position: relative;
    left: 4%;
    top: 28%;
}

.loupePicture {
    width: 3%;
}

.searchLabel {
    position: relative;
    left: 8%;
    top: -17%;
}

.searchLink {
    color: black;
    text-decoration: none;
}

.searchLink:hover{
    color:blue;
}


.newProductPicture {
    position: relative;
    top: -53%;
    left: 16%;
}

.filePicture {
    width: 3%;
}

.newProductLabel {
    position: relative;
    top: -98%;
    left: 20%;
}

.newProductLink {
    color: black;
    text-decoration: none;
}

.newProductLink:hover{
    color:blue;
}

.productSearch {
    border: solid 1px rgba(158, 158, 158, 0.74);
    height: 40px;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to top, rgba(0, 126, 255, 0.09), rgba(0, 126, 255, 0.22), rgba(0, 126, 255, 0.09));}

.productSearchLabel {
    position: relative;

    top: 24%;
    font-weight: 600;
}

.searchTable {
    width:100%;
}

.searchPanelGrid {border-collapse: collapse;
    border-color: rgba(158, 158, 158, 0.42);
    border-top-width: 0px;
    width: 100%;
}

.gridOutputLabel {
}

.gridInputField {
    border-top-width: 2px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 6PX;
}

.searchButton {
    margin-top: 1%;
}

.searchCommandButton {
    border-radius: 9px;
    height: 42px;
    width: 105px;
    border: solid 1px rgba(0, 126, 255, 0);
    background-image: linear-gradient(to top, rgb(221, 255, 255), rgba(71, 255, 238, 0.22));
}

.searchCommandButton:hover{

    background-image: linear-gradient(to top, rgb(221, 255, 255), rgba(71, 255, 238, 0.62));
}

.searchButtonPicture {

}

.line {
    color: rgba(158, 158, 158, 0.74);
    width: 100%;
}

.productOutput {
    margin-top: 0px;
}

.productOutputTable {
    width: 100%;
    height: 370px;
    border-collapse: collapse;
    border-color: rgba(158, 158, 158, 0.42);
    border-top-width: 0px;
}

.productOutputHeader {
    height: 45px;
    background-image: linear-gradient(to top, rgb(221, 255, 255), rgba(71, 255, 238, 0.22));
    text-align: center;
}

.productOutputResult {
    padding-left: 5px;
    color: rgba(0, 67, 255, 0.64);
    font-family: sans-serif;
    font-size: 81%;
    font-weight: 600;
}

.editButton {
    margin-left: 14px;
    padding-left: 5px;
    border-radius: 9px;
    height: 30px;
    width: 70px;
    border: solid 1px rgba(0, 126, 255, 0);
    background-image: linear-gradient(to top, rgb(221, 255, 255), rgba(71, 255, 238, 0.22));
}

.editButton:hover{
    background-image: linear-gradient(to top, rgb(221, 255, 255), rgba(71, 255, 238, 0.58));
}

.paginator {
    border: solid 1px rgba(158, 158, 158, 0.74);
    height: 40px;
    width: 100%;
    background-image: linear-gradient(to top, rgba(0, 126, 255, 0.09), rgba(0, 126, 255, 0.22), rgba(0, 126, 255, 0.09));}

.paginatorPrevButton {
    background-image: url("/pictures/previous.png");
    background-size: 100%;
    margin-top: 2px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    position: relative;
    left: 39.6%;
    background-color:rgb(153, 195, 255);
}
.paginatorNextButton {
    background-image: url("/pictures/next.png");
    background-size: 100%;
    margin-top: 2px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    position: relative;
    left: 45%;
    background-color:rgb(153, 195, 255);
}
.paginatorOutput{
    display: block;
    text-align: center;
    margin-top: 2px;
    height: 32px;
    width: 35px;
    border-radius: 5px;
    margin-left: 48%;
    position: relative;
    top: -97%;
    font-weight: 500;
    font-size: 21px;
    background-color: rgb(153, 195, 255);
    border: solid 1px rgba(158, 158, 158, 0.74);
}
.paginatorStartButton{
    background-image: url("/pictures/begin.png");
    background-size: 100%;
    margin-top: 2px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    position: relative;
    left: 38.9%;
    background-color:rgb(153, 195, 255);
}
.paginatorEndButton{
    background-image: url("/pictures/end.png");
    background-size: 100%;
    margin-top: 2px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    position: relative;
    left: 45.6%;
    background-color:rgb(153, 195, 255);
}
.wrapper{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width:50%;
    margin: 0 0 0 25%;
    min-width: 715px;
    min-height: 600px;
}
.searchOutputEditField{

    border-top-width: 2px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-radius: 6PX;
    width:100%;
}
